#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake --sourcedirectory=libdatachannel

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=libdatachannel -- \
		-DNO_EXAMPLES=ON \
		-DNO_TESTS=ON \
		-DUSE_SYSTEM_SRTP=OFF \
		-DUSE_SYSTEM_JUICE=OFF \
		-DUSE_SYSTEM_USRSCTP=OFF \
		-DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
		-DCMAKE_C_COMPILER_LAUNCHER=ccache
